<head>
    <title>MediaRecorder examples - Record live audio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  </head>
  <body>
    <header>
      <p>Record live audio</p>
    </header>
    <main>
            <p><button id="grabar" disabled>Record audio</button> 
                <button id="parar" disabled>Stop</button></p>
                <p><audio id="audio" controls></audio></p>
        <script>
        let  grabarButton, pararButton, context,s, sampleRate
        let socket = io.connect( 'http://' + document.domain + ':' + location.port )
        let audioProccess = new Array()
        window.onload = function () {
            grabarButton = document.getElementById('grabar');
            pararButton = document.getElementById('parar');

            // obtener la transmisión de audio desde el micrófono del usuario
            navigator.mediaDevices.getUserMedia({
                audio: true
            })

            .then((stream) =>{
                s=stream;
                grabarButton.disabled = false;
                context = new AudioContext();
                sampleRate = context.sampleRate
                grabarButton.addEventListener('click', comenzarGrabacion);
                pararButton.addEventListener('click', pararGrabacion);
            })

            function comenzarGrabacion() {
                    grabarButton.disabled = true;
                    pararButton.disabled = false;
                    let audioInput = context.createMediaStreamSource(s);
                    let bufferSize = 4096;
                    let processor = context.createScriptProcessor(bufferSize, 1, 1);
                    audioInput.connect(processor);
                    processor.connect(context.destination);
                    processor.onaudioprocess = function(e){
                        let left = e.inputBuffer.getChannelData(0);
                        //console.log(left)
                        audioProccess.push(convertFloat32ToInt16(left));
                    };
            }

        function convertFloat32ToInt16(buffer) {
                l = buffer.length;
                buf = new Int16Array(l);
                while (l--) {
                  buf[l] = Math.min(1, buffer[l])*0x7FFF;
                }
                return buf.buffer;
            }

            function pararGrabacion() {
                grabarButton.disabled = false;
                pararButton.disabled = true;
                context.close();
                console.log(audioProccess)
                socket.emit( 'send_audio', {msg:audioProccess,sampleRate:sampleRate})
                //socket.emit( 'send_audio', {msg:null,first_message:false})
            }
        }
        </script>
    </main>
  </body>